@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
body{
    background-image: url(./background_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}
.container{
    max-width: 1240px;
    /* height: 1036px; */
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 30px;
}

    

header{
    text-align: center;
}

.baslık1{
    font-family: 'Bowlby One SC', cursive ;
    font-size: 50px;
    text-align: center;
    
}
.baslık2{
    font-family: 'sorts Mill Goudy', serif;
    text-align: center;
    

}
.form_container{
    /* border: 2px solid red; */
    margin: auto;
    width: 500px;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.678);
   

    
}
.form_box{
    margin-top: 10px;
}

#name, 
#age, 
#email, 
#dropdown, 
#feedback{
width: 100%;
padding: 12px 10px;
margin-top: 10px;

}
textarea{
    resize: none;
}
#checbox, #radio{
    margin-top: 40px;

}
#form-button{
    width: 160px;
    height: 45px;
    background-color: #ff0000;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.form_submit{
    margin: auto;
    width: 160px;
    margin-top: 15px;
}

#form-button:hover{
    background-color: white;
    color: #ff0000;
}
span{
    color: red;
}